# dependencies
/node_modules
/apps/provider-portal/node_modules
/libs/ui-components/node_modules
/libs/icons/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/apps/provider-portal/.next/
/apps/provider-portal/out/

# production
/apps/provider-portal/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
/apps/provider-portal/.env*.local

# vercel
/apps/provider-portal/.vercel

# typescript
/apps/provider-portal/*.tsbuildinfo
/apps/provider-portal/next-env.d.ts
/libs/ui-components/*.tsbuildinfo
/libs/ui-components/dist
/libs/icons/dist
