# dependencies
/node_modules
/apps/frontend/node_modules
/libs/ui-components/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/apps/frontend/.next/
/apps/frontend/out/

# production
/apps/frontend/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
/apps/frontend/.env*.local

# vercel
/apps/frontend/.vercel

# typescript
/apps/frontend/*.tsbuildinfo
/apps/frontend/next-env.d.ts
/libs/ui-components/*.tsbuildinfo
/libs/ui-components/dist
/libs/icons/dist
